.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	color: hsl(0, 0%, 100%);
	line-height: 1.25;
}

h2 {
	font-size: 1.7333333333em;
}

h3 {
	font-size: 1.4666666667em;
}

h4 {
	font-size: 1.0666666667em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.9333333333em;
}

p {
	font-size: 1em;
}

strong {
	font-weight: 700;
}

mark {
	background-color: transparent;
	color: hsl(277, 64%, 61%);
}

body {
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background-color: hsl(233, 47%, 7%);
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 0.9375em;
	font-weight: 400;
	color: hsla(0, 0%, 100%, 0.6);
	line-height: 1.7333333333;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

#root {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: auto;
	-moz-box-flex: auto;
	-ms-flex: auto;
	-webkit-flex: auto;
	flex: auto;
}

.btn {
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 0.8em;
	border: 1px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0rem 0.5em 1.125em rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0rem 0.5em 1.125em rgba(0, 0, 0, 0.2);
	box-shadow: 0rem 0.5em 1.125em rgba(0, 0, 0, 0.2);
	font-size: 1em;
	text-decoration: none;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.btn--link {
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: hsla(0, 0%, 100%, 0.75);
}

.card {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	max-width: 28em;
	margin: 2.6666666667em 0 4em;
	background-color: hsl(244, 38%, 16%);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
}

.card__image,
.card__content,
.card__stats-list,
.card__stats-list-item {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.card__image-inner {
	position: relative;
	height: 0;
	padding-bottom: 76%;
	background-color: hsl(277, 64%, 61%);
}

.card__image-inner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	mix-blend-mode: multiply;
	opacity: 0.75;
}

.card__content {
	padding: 2.6666666667em 1.6em;
	text-align: center;
}

.card__title {
	margin-bottom: 0.6153846154em;
}

.card__desc {
	margin-bottom: 2.4em;
}

.card__stats-list {
	gap: 2em;
}

.card__stats-list-item {
	gap: 0.1666666667em;
	font-size: 0.8em;
	text-transform: uppercase;
}

.card__stats-list-item .num {
	font-size: 1.6666666667em;
	font-weight: 700;
	color: hsl(0, 0%, 100%);
}

.card__stats-list-item .label {
	letter-spacing: 0.0666666667em;
}

@media (min-width: 65em) {
	.card {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
		-moz-box-direction: reverse;
		-moz-box-orient: horizontal;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
		max-width: 74em;
	}
	.card__image,
	.card__content {
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}
	.card__image-inner,
	.card__image-inner img {
		position: static;
	}
	.card__image-inner {
		-webkit-box-flex: auto;
		-moz-box-flex: auto;
		-ms-flex: auto;
		-webkit-flex: auto;
		flex: auto;
		height: auto;
		padding-bottom: 0;
	}
	.card__content {
		padding: 4.6666666667em;
		text-align: left;
	}
	.card__title {
		font-size: 2.4em;
	}
	.card__desc {
		max-width: 24.6666666667em;
		margin-bottom: 4em;
	}
	.card__stats-list {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
		-moz-box-direction: normal;
		-moz-box-orient: horizontal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.card__stats-list-item {
		min-width: 9.3333333333em;
	}
}
.container {
	padding: 0 2em;
}

main,
main > .container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: auto;
	-moz-box-flex: auto;
	-ms-flex: auto;
	-webkit-flex: auto;
	flex: auto;
}

main > .container {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

footer,
footer .container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1em 0;
	text-align: center;
	font-size: 0.8em;
}

footer .container,
footer p {
	-webkit-box-flex: auto;
	-moz-box-flex: auto;
	-ms-flex: auto;
	-webkit-flex: auto;
	flex: auto;
}

/*# sourceMappingURL=main.css.map */
